.root {
    -fx-background-color: #2c3e50;
    -fx-font-family: 'Arial';
}

.label {
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
}

.image-view {
    -fx-padding: 10px;
}